<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>From U, TRABLE</title>

    <!-- THYMELEAF JS  -->
    <th:block layout:fragment="script">
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script th:inline="javascript">
  	function test(){
		$('.sidemenu').css('visibility','visible');
	}
	function test1(){
			$('.sidemenu').css('visibility','hidden');
	}
	
	function deletepost(value){
		var confir = confirm("게시물을 삭제하시겠습니까?");
		if(confir){
			alert("삭제가 완료되었습니다.");
			location.href = "/delete/"+value;
		}else{
			alert("삭제를 취소합니다.")
			return false;
		}
	}
	
	function hidepost(value){
		var confir = confirm("게시물을 숨기시겠습니까?");
		if(confir){
			alert("게시물이 숨김처리 되었습니다.");
			location.href = "/hide/"+value;
		}else{
			alert("현재 상태를 유지합니다.")
			return false;
		}
	}
	function showpost(value){
		var confir = confirm("게시물을 공개하시겠습니까?");
		if(confir){
			alert("게시물이 공개상태로 전환되었습니다.");
			location.href = "/show/"+value;
		}else{
			alert("현재 상태를 유지합니다.")
			return false;
		}
	}
	function giveheart(value){
		alert("하트를 눌렀습니다!");
		location.href = "/heart/"+value;
	}
	function select(){
		var selectval = $('.select').val();
		
		switch (selectval) {
			case "1":
				location.href = "/Sselects/bylike";
				break;
			case "2":
				location.href = "/Sselects/byctime";				
				break;
			case "3":
				location.href = "/Sselects/byrctime";				
				break;
			case "4":
				location.href = "/Sselects/byutime";				
				break;
			case "5":
				location.href = "/Sselects/byrutime";				
				break;	
		}
      </script>
    </th:block>

    <!-- THYMELEAF CSS -->
    <th:block layout:fragment="css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <style>
      
      *{
      	margin: 0 auto;
      	padding: 0;
      }
      
      body{
/* 		background: linear-gradient(180deg, #037A1D, #006DBC, #1A00BC); */
		background: darkgray;
		margin-top: 50px;
		}

.sidemenu{
	width: 150px;
	height: 100%;
	position: fixed;
	left: 0;
	top : 0%;
	background-color: rgba(205,205,205, 1);
	visibility: hidden;
}

		.wrap{
		}
		
		
		.cont{
			width: 1000px;
			background-color: #D9D9D9;
			margin: 0 auto;
			padding: 50px;

		}
		.row{
		margin-top: 10px;
		margin-bottom: 40px;
		width: 80%;
		}
		
		.head{
		margin-bottom: 50px;
		}
		
		.row_left{
		margin-right: auto;
		}
		
		.row_right{
		margin-left: auto;
		}
		
		.row_final{
			height: 50%;
		}

	.likesection{
		text-align: center;
	}
	
	.updateANDdelete{
		text-align: center;
	}

      </style>
    </th:block>
  </head>
  <body>
    	<div layout:fragment="content">

    	<div class="wrap">
    		<div class="cont">
    			<!-- USER INFO, POST INFO  -->
    			<div class="row head" style="margin: 0 auto; margin-bottom: 150px">
					<div class="col-md-6">
						<img th:alt="${post.imgname}" th:src="${post.imgurl}" width="90%">
					</div>
					<div class="col-md-6">
						<div class="row-md-3">
							<h2> write by : [[${member.email}]] </h2>
						</div>
						<div class="row-md-3">
							<h2> tags </h2><br> 
								<div th:each = "tag : ${tags}">
									<span> #[[${tag.tagname}]] </span>
								</div>
						</div>						
						<div class="row-md-3">
							<h2> hearts : [[${post.heart}]] </h2>
						</div>	
						<div class="row-md-3 likesection">
							<div class="row-md-6" style="text-align: left;">							
								<button class="button" th:onclick="giveheart([[${post.id}]])" style="background: transparent; border: 0"><img alt="heart" src="/images/flatheart.png" width="50px"> </button>
								<span> I like this TRABLE! </span>
							</div>
						</div>											
					</div>
					<!-- UPDATE, DELETE POST -->
					<div th:if="${id} == ${member.email}">					
						<div class="updateANDdelete">
								<div class="row center">
									<div class="col-md-3">
									<p> UPDATE POST </p>
									<a th:href = "'/update/'+${post.id}"><img alt="update" src="/images/refresh.png" width="50px"></a>						
									</div>
									<div th:if="${post.showPost} == 'SHOW'"></div>
									<div class="col-md-3">
									<p> HIDE POST </p>
									<a type="button" th:onclick="hidepost([[${post.id}]])"><img alt="hide" src="/images/eyeclosed.png" width="55px"> </a>
									</div>									
									<div class="col-md-3">
									<p> SHOW POST </p>
									<a type="button" th:onclick="showpost([[${post.id}]])"><img alt="hide" src="/images/eyeopen.png" width="55px"> </a>
									</div>									
									<div class="col-md-3">
									<p> DELETE POST </p>
									<a type="button" th:onclick="deletepost([[${post.id}]])"><img alt="delete" src="/images/delete.png" width="50px">  </a>															
<!-- 									<a th:href = "'/delete/'+${post.id}" onclick="delete()"><img alt="delete" src="/images/delete.png" width="50px">  </a>															
 -->									</div>
 							</div>
						</div>
					</div>
    			</div>
    			
    			
    			<!-- POST IMG -->
    			<div class="row row_left" th:each="postimg : ${postimgs}">
					<img th:alt="${postimg.imgname}" th:src="${postimg.imgurl}" >
    			</div>
    		</div>
    	</div>

			
        <script>
			AOS.init();
		</script>
    </div>
  </body>
</html>
