<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
    $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
        });
    });

    function page(page){
        var searchDateType = $("#searchDateType").val();
        var searchSellStatus = $("#searchSellStatus").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
        + "&searchSellStatus=" + searchSellStatus
        + "&searchBy=" + searchBy
        + "&searchQuery=" + searchQuery;
    }
	</script>
</th:block>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
		select{
			margin-right: 10px;
		}
	</style>
</th:block>
	
</head>
<body>
		<div layout:fragment="content">
		<!-- items.number : 현재 페이지 숫자 -->
			<form th:action = "@{'/admin/items/' + ${items.number}}" role="form" method = "get" th:object="${items}">
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">상품아이디</th>
				      <th scope="col">상품명</th>
				      <th scope="col">상태</th>
				      <th scope="col">등록자</th>
				      <th scope="col">등록일</th>
				    </tr>
				  </thead>
				  <tbody>
				  <!-- items.getContent : 조회된 데이터를 가져와준다. -->
				  <!-- th:each를 쓰기위해 items.getContent()를 list타입으로 변환-->
				    <tr th:each = "item, status: ${items.getContent()}">
				      <th th:text="${item.id}" scope="row"></th>
				      <td>
				      	<a th:href="'/admin/item/' + ${item.id}" th:text="${item.itemNm}"></a>
				      	<!-- 수정하려는 상품의 수정페이지로 이동시킴 -->
				      </td>
				      <td th:text="${item.itemSellStatus == T(com.myshop.constant.ItemSellStatus).SELL ? '판매중' : '품절'}"></td>
				      <!-- itemSellStatus enum의 전체를 다 작성해줘야한다. 
				      T는 타임리프에서 제공, 클래스에 접근할 수 있게 되고, ItemSellStatus에 있는 상태 'SELL'을 가져올 수 있게 됨.-->
				      <td th:text = "${item.createdBy}"></td>
				      <td th:text = "${item.regTime}"></td>
				    </tr>
				  </tbody>
				</table>
				
				<!-- 페이징 버튼 -->
				<!-- 변수값을 정의할 때 쓰는 th:with / start, end 쓸거임. -->
				<!-- maxPage는 5, start = (현재 페이지 번호 / 보여줄 페이지 수) + 1, 페이지의 시작 번호
						끝 번호 선언 end = start + (보여줄 페이지 수-1), 페이지의 끝 번호 
						삼항연산자 사용하여 총 페이지의 수가 0이 아닐경우 (0이면 1반환) 위의 식 적용 +
						추가 삼항연산자 사용하여 보여줄 페이지 수가 totalPage보다 작으면 지금 그 페이지를 보여주고, 
						아니면 totalPage를 보여준다. -->
 				<nav th:with="start=${(items.number/maxPage)*maxPage + 1}, 
							end=(${(items.totalPages == 0) ? 1 : (start+(maxPage-1) < items.totalPages ? 
							start + (maxPage-1) : items.totalPages)})"
				 				aria-label="Page navigation example">
<!--  				<nav th:with="start=${(items.number/maxPage)*maxPage + 1}, 
							end=(${(items.totalPages == 0) ? 1 : test})"
				 				aria-label="Page navigation example"> -->
<!-- 				 				<span> page.size </span> <p th:text = "${test}"> </p>
				 				<span> items.number </span> <p th:text = "${items.number}"> items.number </p>
				 				<span> start </span> <p th:text = "${start}"> start</p>
				 				<span> end </span> <p th:text = "${end}"> end </p>
				 				<span> is items.last? </span> <p th:text = "${items.last}"> is items.last? </p> -->
				  <ul class="pagination d-flex justify-content-center">
				   <!-- 1번 페이지에서는 뒤로가는게 의미가 없게 하기 위해 처리한다. classappend가 첫번째인 경우 이 버튼을 비활성화 시킴.-->
				    <li class="page-item" th:classappend="${items.first}?'disabled'">
				    <a class="page-link" th:onclick = "'javascript:page(' + ${items.number-1} + ')'">이전</a>
				    </li>
				    
				    <li class="page-item" th:each = "page:${#numbers.sequence(start, end)}"
				    th:classappend="${items.number eq page-1}?'active':''">
				    <!-- page안에 시작, 마지막 페이지에 대한 시퀀스를 넣어준다. -->
				    <a class="page-link" th:inline="text" th:onclick = "'javascript:page('+ ${page-1} +')'">[[${page}]]</a> <!-- 여기가 바뀌어야함. -->
				     <!--th:inline = "text" : [[${page}]]를 띄워주기 위해 사용한다.
				     
				     	클릭하면 이동을 시킨다 - script이용 예정  page-1 : 인덱스 번호가 0부터 시작하기 때문에 -1 된 값을 보내줘야 한다. 
				     	페이징 객체에서는 0부터 시작하기 때문에 -1한 값을 보내준다.
				     	-->
				    </li>
				    								<!-- classappend가 마지막인 경우 이 버튼을 비활성화 시킴. -->
				    <li class="page-item" th:classappend="${items.last}?'disabled'"> <!-- 위에 있던 th:onclick 가져오기. -->
				    <a class="page-link" th:onclick = "'javascript:page(' + ${items.number+1} + ')'">다음</a>
				    </li>
				  </ul>
				</nav>
				<!-- 검색창 구현 -->
				<div class="d-flex justify-content-center" th:object="${itemSearchDto}" style="height: 40px;">
					<!-- 상품 등록일 -->
				   <select th:field="*{searchDateType}" class="form-select" style="width: auto;">
					  <option value="all">전체기간</option>
					  <option value="1d">1일</option>
					  <option value="1w">1주</option>
					  <option value="1m">1개월</option>
					  <option value="6m">6개월</option>
					</select>
					<!-- 상품판매 상태 -->
					 <select th:field="*{searchSellStatus}" class="form-select" style="width: auto;">
					  <option value="">판매상태 (전체)</option>
					  <option value="SELL">판매</option>
					  <option value="SOLD_OUT">품절</option>
					</select>
					<!-- 상품명, 등록자 선택 -->
					 <select th:field="*{searchBy}" class="form-select" style="width: auto;">
					  <option value="itemNm">상품명</option>
					  <option value="createdBy">등록자</option>
					</select>
					<!-- 검색창 -->
					 <input type="text" th:field="*{searchQuery}" class="form-control" placeholder="검색어 입력" style="width: auto;">
					 <button id="searchBtn" type="submit" class="btn btn-primary mb-3" style="height: 100%"> 검색</button>
				</div>
		</form>	
	</div>
</body>
</html>