<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

      
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- THYMELEAF JS  -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>

<!-- THYMELEAF CSS -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>


</head>
<body>
	<div layout:fragment="content">
		메인 페이지 입니다.
	</div>
</body>
</html>